body{
    text-align: center;
    justify-content: center;
    align-items: center;
     background-color: rgba(243, 215, 215, 0.319); 
     
}

 .main{
    background-color: rgb(12, 12, 12);
    width: 25%;
    margin-left: 37%;
    margin-top: 5%;
   padding-bottom: 10px;
   border-radius: 20px;
   box-shadow: 1px 2px 2px 3px #888888;
   overflow: hidden;
}

 

.opt{
    background-color: rgba(248, 222, 222, 0.942);
    
}


input[type="text"]{
   padding: 10px;
    width: 90%;
    margin: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    color: rgb(243, 39, 39);
    
}

.btn{
     display: grid;
    grid-template-columns: repeat(4,80px);
     grid-gap: 5px; 
     align-items: center;
     margin-left: 35px;
     margin-bottom: 20px;
     margin-top: 10px;

}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19)
}



